# Compiled output
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/

# Node
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log

# Angular
frontend/.angular/cache/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings/

backend/HELP.md
backend/target/
# backend/.mvn/
# backend/mvnw
# backend/mvnw.cmd
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

# Spring Tools Suite
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache

# Build
backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/nbdist/
backend/.nb-gradle/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Eclipse
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Secrets
backend/application-local.properties
backend/application-secrets.properties
.env
.env.local
*.env.*

# Docker override
docker-compose.override.yml

# Logs
*.log
.DS_Store
Thumbs.db
