<p-paginator
  [first]="current * itemsPerPage"
  [rows]="itemsPerPage"
  [totalRecords]="total"
  [rowsPerPageOptions]="[1]"
  (onPageChange)="handlePageChange($event)"
  [showJumpToPageDropdown]="false"
  [showPageLinks]="true"
  [showCurrentPageReport]="false"
  [alwaysShow]="false"
  styleClass="custom-paginator"
>
  <ng-template pTemplate="nextpagelinkicon">
    <i class="pi pi-angle-right"></i>
  </ng-template>
  <ng-template pTemplate="lastpagelinkicon">
    <i class="pi pi-angle-double-right"></i>
  </ng-template>
</p-paginator>