<nav class="navbar navbar-expand-md navbar-light bg-white header shadow-sm">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <img src="../../assets/logo.png" alt="Logo" class="logo-image me-3" />
      <span class="logo">QuizZap</span>
    </div>
    
    <div class="navbar-nav ms-auto nav-buttons">
      <a class="nav-link" routerLink="/" routerLinkActive="active-link" 
         [routerLinkActiveOptions]="{ exact: true }">
        <i class="material-icons">home</i>
        Home
      </a>
      <a class="nav-link" routerLink="/leaderboard" routerLinkActive="active-link"
         [routerLinkActiveOptions]="{ exact: false }">
        <i class="material-icons">leaderboard</i>
        Leaderboard
      </a>
    </div>
  </div>
</nav>