.timer-container {
  margin-bottom: 1.5rem;
}

.countdown-display {
  justify-content: space-between;
  align-items: center;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 4px;
}

.time-value0 {
  color: var(--category-color-0);
}

.time-value1 {
  color: var(--category-color-1);
}

.time-value2 {
  color: var(--category-color-2);
}

.time-value3 {
  color: var(--category-color-3);
}

.time-value4 {
  color: var(--category-color-4);
}

.time-value5 {
  color: var(--category-color-5);
}


:host ::ng-deep .p-progressbar-value {
  border-radius: 1rem; /* angoli stondati anche per la barra di avanzamento */
  transition: width 4s ease; /* effetto smooth opzionale */
}


:host ::ng-deep .category-0 .p-progressbar-value {
  background-color: var(--category-color-0);
}
:host ::ng-deep .category-1 .p-progressbar-value {
  background-color: var(--category-color-1);
}
:host ::ng-deep .category-2 .p-progressbar-value {
  background-color: var(--category-color-2);
}
:host ::ng-deep .category-3 .p-progressbar-value {
  background-color: var(--category-color-3);
}
:host ::ng-deep .category-4 .p-progressbar-value {
  background-color: var(--category-color-4);
}
:host ::ng-deep .category-5 .p-progressbar-value {
  background-color: var(--category-color-5);
}