<div class="page-container">
  <main class="container-fluid">
    <div class="container">
      <!-- Sezione benvenuto -->
      @if (username) {
      <div class="row justify-content-center mb-4">
        <div class="col-12 col-lg-8">
          <div class="card shadow border-0">
            <div class="card-body text-center py-5">
              <div class="mb-4">
                <h2 class="welcome-title mb-4">
                  Welcome,
                  <span class="player-name">{{ username }}</span
                  >!
                </h2>
                <p class="welcome-subtitle mb-2">
                  Test your knowledge with QuizZap.
                </p>
              </div>
              <p class="welcome-subsubtitle mb-0">
                Choose a category and start your adventure:
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="row">
            @for (category of categories; track category.name) {
            <div class="col-12 col-md-6 col-lg-4 category-item">
              <app-category [category]="category"></app-category>
              <!-- property binding -->
            </div>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </main>
</div>
