<div class="quiz-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="card quiz-main-card shadow border-0">

          <!-- Quiz Header -->
          <div class="quiz-header">
            <h1>{{ selectedCategory | titlecase }} Quiz</h1>
          </div>

          <div class="quiz-content">
            @if (questions.length > 0) {
            <!-- Timer Component -->
            <div class="quiz-timer">
              <app-timer [duration]="120" [categoryId]="currentCategoryId" (timeExpired)="handleTimeExpired()"
                (timeUpdate)="updateRemainingTime($event)" #quizTimer>
              </app-timer>
            </div>
            }

            <!-- Mostra domanda durante il quiz -->
            @if (currentQuestion) {
            <div class="quiz-question-container">
              <h2>Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}</h2>
              <p class="question-text">{{ currentQuestion.question }}</p>

              <div class="options-container">
                @for (option of currentQuestion.options; track $index) {
                <div class="card option-card" [class.selected]="currentQuestion.currentAnswer === $index"
                  [class]="'option-card-' + currentCategoryId%6" (click)="selectAnswer($index)">
                  <div class="card-body">
                    {{ option }}
                  </div>
                </div>
                }
              </div>
            </div>
            }

            <!-- Paginator Component -->
            @if (questions.length > 0) {
            <div class="quiz-paginator">
              <app-paginator [total]="questions.length" [current]="currentQuestionIndex"
                [categoryId]="currentCategoryId" [answeredQuestions]="getAnsweredQuestionsIndices()"
                (change)="onPageChange($event)">
              </app-paginator>
            </div>
            }
          </div>

          <!-- Pulsante Fine Quiz -->
          @if (currentQuestion) {
            <div class="quiz-actions">
            <button type="button" class="btn btn-light" [disabled]="!allQuestionsAnswered" (click)="finishQuiz()">
              <span matTooltip="You must answer all questions before finishing the quiz"
                [matTooltipDisabled]="allQuestionsAnswered"
                matTooltipPosition="above"
                aria-label="Button that displays a tooltip when focused or hovered over"
                style="pointer-events: auto;">
                Finish Quiz
                </span>
            </button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>