


    .timer-container {
      margin-bottom: 20px;
    }
    
    .countdown-display {
      justify-content: space-between;
      align-items: center;
      font-size: 3em;
      text-align: center;
      font-weight: bold;
      padding: 4px;
    }

    .time-value1 {
      color: var(--videogames-color);
    }

    .time-value2 {
      color: var(--cinema-color);
    }

    .time-value3 {
      color: var(--geography-color);
    }

    .time-value4 {
      color: var(--history-color);
    }

    .time-value5 {
      color: var(--art-color);
    }

    .time-value6 {
      color: var(--science-color);
    }


/* Stili che corrispondono alle card della home */
:host ::ng-deep .category-1 .p-progressbar-value {
  background-color: var(--videogames-color);
}

:host ::ng-deep .category-2 .p-progressbar-value {
  background-color: var(--cinema-color);
}

:host ::ng-deep .category-3 .p-progressbar-value {
  background-color: var(--geography-color);
}

:host ::ng-deep .category-4 .p-progressbar-value {
  background-color: var(--history-color);
}

:host ::ng-deep .category-5 .p-progressbar-value {
  background-color: var(--art-color);
}

:host ::ng-deep .category-6 .p-progressbar-value {
  background-color: var(--science-color);
}

