@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html,
body {
  height: 100%;
  ;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --text-color: #333;
  --secondary-text-color: #666;

  --category-color-0-light: #c77bd480;
  --category-color-1-light: #f7c06d80;
  --category-color-2-light: #7cd5ff80;
  --category-color-3-light: #f7ee6e80;
  --category-color-4-light: #ff7b6480;
  --category-color-5-light: #aed58180;

  --category-color-0: #ad008b;
  --category-color-1: #eb8500;
  --category-color-2: #0079ca;
  --category-color-3: #d3be00;
  --category-color-4: #db1a00;
  --category-color-5: #81a800;
}