@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

html, body { 
  height: 100%; 
}

body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
:root{  
  --videogames-color: #c77bd4;
  --cinema-color: #f7c06d;
  --geography-color: #7cd5ff;
  --history-color: #f7ee6e;
  --art-color: #fa6f56;
  --science-color: #aed581;

  --videogames-color-light: #c77bd480;
  --cinema-color-light: #f7c06d80;
  --geography-color-light: #7cd5ff80;
  --history-color-light: #f7ee6e80;
  --art-color-light: #fa6f5680;
  --science-color-light: #aed58180;

  --videogames-color-dark: #ad008b;
  --cinema-color-dark: #bb6a00;
  --geography-color-dark: #0079ca;
  --history-color-dark: #c6b600;
  --art-color-dark: #c51700;
  --science-color-dark: #81a800;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
